= semantic_form_for [parent, parent.comments.build] do |form|
  = form.inputs :name => "Post a comment" do
    - if current_user
      = form.input :user_id, :as => :hidden, :value => current_user.id
    - else
      = form.input :username, :hint => "Note: if you a registered user, you can log in without input username."
    = form.input :body, :label => false
  = form.buttons do
    = form.submit "Comment"
