= f.inputs do
  = f.input :title, :label => 'Title'
  = f.input :body_format, :as => :radio, :collection => Post::FORMATTER.keys, :label => 'Content Format'
  = f.input :body, :label => 'Content'
= f.buttons do
  = f.commit_button
  
:javascript
  jQuery(function() {
    $('#post_body_format_markdown').attr('checked', 'checked');
  });
