%h2 Rails Best Practices
.posts
  - @posts.each do |post|
    .post
      = image_tag post.user.gravatar_url(:size => 32), :class => 'user-avatar'
      %span.title= link_to post.title, post_path(post)
      %span.description= post.description
      %p
        by
        = user_link(post.user)
        &nbsp;|&nbsp;
        = "#{post.vote_points} votes"
        &nbsp;|&nbsp;
        = link_to (post.comments.size == 0 ? "post a comment" : "#{post.comments.size} comments"), post_path(post, :anchor => 'comments')
= will_paginate @posts, :previous_label => "<< Newer", :next_label => "Older >>"
