%h2= @post.title

.post
  - if @post.belongs_to? current_user
    .command
      = link_to 'Edit', edit_post_path(@post)
      - if current_user and current_user.developer?
        &nbsp;|&nbsp;
        - if @post.implementation
          = link_to 'Edit Implementation', edit_post_implementation_path(@post, @post.implementation)
        - else
          = link_to 'New Implement', new_post_implementation_path(@post)
  .vote-info
    = vote_like_link(@post)
    %p= @post.vote_points
    = vote_unlike_link(@post)
  %p
    Posted by 
    = image_tag @post.user.gravatar_url(:size => 16), :class => 'user-avatar'
    = user_link(@post.user)
    on 
    = @post.created_at.to_date.strftime("%B %d, %Y")
  %p
    = render 'shared/add_this_link'
  %p
    %strong Short Description: 
    = @post.description
  .wikistyle= raw @post.formatted_html
  - if @post.implementation
    = link_to 'Implemented in rails_best_practices gem', post_implementation_path(@post, @post.implementation), :class => 'implemented'
  .tags
    %strong tags: 
    - @post.tags.each do |tag|
      = link_to tag.name, tag_posts_path(tag)

  = render 'comments/comments', :parent => @post
  = render 'comments/comment_form', :parent => @post

= render 'shared/add_this_script'
