!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title rails-bestpractices.com
    = stylesheet_link_tag 'compiled/screen', 'compiled/layout', 'compiled/post', 'compiled/implementation', 'compiled/comment', 'compiled/jquery.autocomplete', 'compiled/formtastic', 'compiled/formtastic_changes', 'compiled/css_sprite', :cache => true, :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = auto_discovery_link_tag(:atom, posts_path(:format => 'atom'))
    = auto_discovery_link_tag(:rss, posts_path(:format => 'xml'))
    = csrf_meta_tag
  %body.bp.two-col
    #container
      #header
        %h1= link_to 'Rails Best Practices', root_path
        .desc
          %p Follow The Rails Best Practices Here
          %p Share Your Rails Best Practices Here
        .nav
          %ul
            %li= link_to "Home", root_path
            - if !current_user
              %li= link_to "Register", new_user_path
              %li= link_to "Login", new_user_session_path
            - else
              %li= link_to 'Submit', new_post_path, :class => 'highlight'
              %li= link_to current_user.login, edit_user_path(current_user)
              %li= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you want to logout?"
            %li= link_to "About", '#'

      .flash
        - flash.each do |type, message|
          .message{:class => type}= message
      #sidebar
        .section
          %h3 Navigation
          %ul
            %li= link_to 'Recent Best Practices', posts_url
            %li= link_to 'Hot Best Practices', posts_url(:hot => true)
            %li= link_to 'All Best Practices', archive_posts_url
        .section
          %h3 Tags
          %ul
            - ActsAsTaggableOn::Tag.order("name").each do |tag|
              %li= link_to tag.name, tag_posts_path(tag)
      #content
        = yield
      #footer
      
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.autocomplete'
    :javascript
      $(function() {
        // tag list auto complete
        if (typeof tags != 'undefined') {
          $('#post_tag_list').autocomplete(tags, {
        		multiple: true,
        		matchContains: true,
        		autoFill: true
        	});
        }
        // remove the beginning spaces in <pre><code> </code></pre>
        $.each($('pre code'), function(i, element) {
          var output = [];
          $.each($(element).text().split('\n'), function(i, line) {
            output.push(line.replace(/^ {12}/, ''));
          });
          $(element).text(output.join('\n'));
        });
      });
